{% extends "base.html" %}
{% block content %}
<h1>
    {{ artist.name }}
    {% if user == artist.user %}
      (<a href="{% url 'imusica:artist_edit' artist.id %}">edit</a>)
    {% endif %}
</h1>
<h2>Address:</h2>
<p>
    {{ artist.city }}, {{ artist.country }} <br/>

</p>

<h2>
    Songs
    {% if user.is_authenticated %}
    (<a href="{% url 'imusica:song_create' artist.id %}">add</a>)
    {% endif %}
</h2>
<ul>
    {% for song in artist.song.all %}
        <li><a href="{% url 'imusica:song_detail' artist.name song.name  g%}">
            {{ song.name }}</a></li>
    {% empty %}<li>Sorry, no songs for this artist yet.</li>
    {% endfor %}
</ul>



{% endblock %}
{% block footer %}
    Created by {{ artist.user }} on {{ artist.date }}
{% endblock %}
