{% extends "base.html" %}
{% block title %} imusica - {{artist}}{% endblock %}
{% block	content	%}
<span vocab="http://schema.org/" typeof="person">
<h1>
  <span property = "name">{{ artist.name }}</span>
  {% if user.is_staff %}
    (<a href="{% url 'imusica:artist_update' artist.id %}">edit</a>) or
    (<a href="{% url 'imusica:artist_delete' artist.id %}">delete</a>)
  {% elif user == artist.user %}
    (<a href="{% url 'imusica:artist_update' artist.id %}">edit</a>) or
    (<a href="{% url 'imusica:artist_delete' artist.id %}">delete</a>)
  {% endif %}
</h1>

          <h2>Detalls:</h2>
          <p>
            <b>Nom: </b> {{artista.name}}<br>
            <b>Ciutat: </b> {{artista.city}}<br>
            <b>Pais: </b> {{artista.country}}<br>
            <b>Pagina web: </b> {{artista.website}}<br>
            <b>Identificador: </b> {{artista.idNumber}}<br>
          </p>
  <a href="{% url 'imusica:artist_list' %}">Tornar a la llista</a>
{% endblock %}
