{% extends "base.html" %}
{% block title %} iMusica - {{ artist.name}}{% endblock %}
{% block content %}

<span vocab="http://schema.org/" typeof="Musica">

<h1>

    <span property="name"> {{ artist.name }} </span>
    {% if user == artist.user %}
      (<a href="{% url 'imusica:artist_edit' artist.id %}">edit</a>)
    {% endif %}
</h1>
<h2>Address:</h2>
<p>
  <span property="address"> {{ artist.city }}, {{ artist.country }} </span>
     <br/>

</p>

<h2>
    Songs
    {% if user.is_authenticated %}
    (<a href="{% url 'imusica:song_create' artist.id %}">add</a>)
    {% endif %}
</h2>
<ul>
    {% for song in song.artist %}
        <li><a href="{% url 'imusica:song_detail' artist.name song.name  %}">
            {{ song.name }}</a></li>
    {% empty %}<li>Sorry, no songs for this artist yet.</li>
    {% endfor %}
</ul>



{% endblock %}
{% block footer %}
    Created by <span property="author"> {{ artist.user }} </span> on
    <span property="date" content="{{ artist.date|date:'Y-m-d' }}"> {{ artist.date }} </span>
{% endblock %}
