
<h1> MAIN MUSIC </h1>
<p> <== <a href= "/" > Tornar a la pagina principal</a></p>
<p> ==> <a href= "/app/api" > Anar a l'API</a></p>
<ul>
	<li><p>Artists</p>
		<a href= "Artist" > HTML</a> <br>
		<a href="Artist.xml"> XML </a><br>
		<a href="Artist.json"> JSON </a><br> </li>
	<li><p>Album</p>
		<a href= "Album" > HTML</a> <br>
		<a href="Album.xml"> XML </a><br>
		<a href="Album.json"> JSON </a><br></li>
	<li><p>Song</p>
		<a href= "Song" > HTML</a></li>
		<a href="Song.xml"> XML </a><br>
		<a href="Song.json"> JSON </a><br></li>
	<li><p>Companyia</p>
		<a href= "Companyia" > HTML</a></li>
		<a href="Companyia.xml"> XML </a><br>
		<a href="Companyia.json"> JSON </a><br></li>
</ul>
